.progress-container {
  width: 100%;
  background-color: #f1f1f1;
}

.progress-bar {
  width: 0;
  height: 30px;
  background-color: #4caf50;
  text-align: center;
  line-height: 30px;
  color: white;
}
#questions {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
  align-items: center;
}
select,
input {
  width: 60%;
  height: 44px;
  border-radius: 8px;
  border: 1px solid gray;
}
#screenTwo {
  display: none;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
}
